body {
  background-color: #ab2de7; }

header {
  text-align: center; }
  header .form-inline .form-control {
    width: 37%; }

#results {
  margin: 20px auto; }
  #results ul {
    list-style: none; }
    #results ul li {
      display: inline-block;
      padding: 5px; }
