body {
  background-color: #ab2de7; }

header {
  text-align: center; }

#results {
  margin: 20px 0; }
  #results ul {
    list-style: none;
    display: inline-block; }

#showing.ng-move,
#showing.ng-enter,
#showing.ng-leave {
  transition: all linear 0.5s; }

#showing.ng-leave.ng-leave-active,
#showing.ng-move,
#showing.ng-enter {
  opacity: 0; }

#showing.ng-leave,
#showing.ng-move.ng-move-active,
#showing.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 40px; }
