body {
    background-color: rgb(171, 45, 231);
}

header {
    text-align: center;
    .form-inline {
        .form-control {
            width: 37%;
        }
    }
}

#results {
    margin: 20px auto;
    ul {
        list-style: none;
        li {
            display: inline-block;
            padding: 5px;
        }
    }
}
