<!DOCTYPE html>
<html lang="en" ng-app="InstagramApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instagram Searcher</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="InstaController">
      <header>
          <img src="images/InstaLogo.png" alt="" class="center-block">
          <section class="container" id="theFinder">
            <form class="form-inline" name="InstaForm" ng-submit="InstagramSearch()">
                <input type="text" class="form-control" ng-model="tagKeyword" placeholder="Enter a tag to search...">
                <input type="submit" class="btn btn-primary">
                <div class="text-center" ng-if="query">
                    <p>We are looking for your pictures now...</p>
                </div>
            </form>
          </section>
      </header>
      <section id="results" ng-cloak>
          <div class="container">
              <div class="text-center" ng-if="showResults">
                  <p class="lead">Seems like we found {{pictures.length}} for {{tagKeyword}}</p>
              </div>
              <ul ng-repeat="picture in pictures">
                  <li><a ng-href="{{picture.link}}"><img class="thumbnail small-img" ng-src="{{picture.images.low_resolution.url}}" alt=""></a></li>
              </ul>
          </div>
      </section>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js" charset="utf-8"></script>
      <script src="js/master.js" charset="utf-8"></script>
  </body>
</html>
